*{ 
    font-family: italic;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    position: fixed;
    display: block;
    top:0;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black whitesmoke black whitesmoke;
    background-color: whitesmoke;
}

nav{
    position: relative;
    font-size:large;  
    margin-right: 5%;
}

.Tab{
    float: right;
    height: 76px;
    display: inline-block;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 3px;
}
#name{
    position: relative;
    display: inline-block;
    padding-top: 30px;
    padding-left: 10%;
}
.Tab:hover{
    background-color:gray;
    color:white;
}
.NewSection{
    background-color: beige;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    margin: 30px;
    border-radius: 5px;
}
#content{
    margin-top: 90px;
    background-color:white;
}

footer{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ef6c00;
    bottom: 0px;
}

